# Domain
DOMAIN_NAME=dopereir.42.fr
LOGIN=dopereir

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword
MYSQL_ROOT_PASSWORD=rootpassword

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
ENABLE_REDIS_CACHE=false

# WordPress
WP_TITLE=Inception
WP_ADMIN=bosswp
WP_ADMIN_PASSWORD=bosswppassword
WP_ADMIN_EMAIL=bosswp@dopereir.42.fr
WP_USER=guest
WP_USER_PASSWORD=guestpassword
WP_USER_EMAIL=guest@dopereir.42.fr

# FTP
FTP_USER=ftpuser
FTP_PASSWORD=ftppassword

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
