[mysqld]
# Allow connections from any host (needed for WordPress container)
bind-address		= 0.0.0.0

# Data directory
datadir				= /var/lib/mysql

# Socket
socket				= /run/mysqld/mysqld.sock

# Logging
skip-networking		= 0

# Port
port				= 3306
