# https://mariadb.com/docs/server/server-management/install-and-upgrade-mariadb/configuring-mariadb/configuring-mariadb-with-option-files
# mysqldaemon pool


[mysqld]

# allow connections from any host (needed for WordPress container)
bind-address = 0.0.0.0

# data directory
datadir = /var/lib/mysql

# unix socket for same container communication
socket = /run/mysqld/mysqld.sock

skip-networking	= 0

port = 3306
